{#
/**
 * @file
 * MyIssues custom block.
 */
#}
<div class="row">
   {% for issue in issues %}
      <div class="col-4">
	 <span>{{"issue id"|t}} => {{issue.id}}</span>
	 <br>
	 <span>{{"issue Title"|t}} => {{issue.title}}</span>
	 <br>
      </div>
   {% endfor %}
</div>
